<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyou.dhlive.core.user.service.dao.UserVipInfoMapper" >
  <resultMap id="BaseResultMap" type="com.qiyou.dhlive.core.user.outward.model.UserVipInfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
    <result column="room_id" property="roomId" jdbcType="INTEGER"/>
    <result column="room_name" property="roomName" jdbcType="VARCHAR"/>
    <result column="user_mail" property="userMail" jdbcType="VARCHAR" />
    <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
    <result column="user_photo" property="userPhoto" jdbcType="VARCHAR" />
    <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR" />
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_qq" property="userQq" jdbcType="VARCHAR" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
    <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    <result column="user_balance" property="userBalance" jdbcType="DECIMAL" />
    <result column="user_level" property="userLevel" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="is_first_login" property="isFirstLogin" jdbcType="INTEGER" />
    <result column="is_black" property="isBlack" jdbcType="INTEGER" />
    <result column="is_gag" property="isGag" jdbcType="INTEGER" />
    <result column="is_online" property="isOnline" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="look_time" property="lookTime" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="temp_watch_time" property="tempWatchTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>